.vscode/.cortex-debug.registers.state.json
.vscode/.cortex-debug.peripherals.state.json
build/built
build/memory_program.txt
build/memory_ram.txt

**/*.elf
**/*.bin
**/*.hex
**/*.lss
**/*.map
**/*.sym
**/*.su
**/*.optimized
**/*.d
**/*.o
**/*.mk
**/*.pdf
